# Visualization Project  :-

## Music Album Popularity Prediction

In [12]:
# Importing the required libraries : - 
import numpy as np 
import pandas as pd 
import seaborn as sns

In [2]:
# Merging the dataset

In [13]:
# Loading train and test data
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

# Adding a column to identify whether the row is from the training or test set
train_data['is_train'] = 1
test_data['is_train'] = 0

# Concatenating the data
merged_data = pd.concat([train_data, test_data], ignore_index=True)

# Saving the merged data to a new CSV file
merged_data.to_csv('new_data.csv', index=False)

## Loading the Dataset

In [25]:
df = pd.read_csv('C:\\Users\\salman_mohamm3d\\Desktop\\Visualization of AI ML\\project\\music album popularity prediction dataset\\archive (2)\\new_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181207 entries, 0 to 181206
Data columns (total 46 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            181207 non-null  int64
 1   name          181206 non-null  object
 2   release_date  181207 non-null  object
 3   artists       181207 non-null  object
 4   total_tracks  181207 non-null  int64
 5   t_name0       181206 non-null  object
 6   t_name1       127203 non-null  object
 7   t_name2       122884 non-null  object
 8   t_dur0        181207 non-null  int64
 9   t_dur1        127203 non-null  float64
 10  t_dur2        122884 non-null  float64
 11  t_dance0      180957 non-null  float64
 12  t_dance1      127064 non-null  float64
 13  t_dance2      122801 non-null  float64
 14  t_energy0     180957 non-null  float64
 15  t_energy1     127064 non-null  float64
 16  t_energy2     122801 non-null  float64
 17  t_key0        180957 non-null  float64
 18  t_key1        127064 non-null  float64
 19  t_key2        122801 non-null  float64
 20  t_mode0       180957 non-null  float64
 21  t_mode1       127064 non-null  float64
 22  t_mode2       122801 non-null  float64
 23  t_speech0     180957 non-null  float64
 24  t_speech1     127064 non-null  float64
 25  t_speech2     122801 non-null  float64
 26  t_acous0      180957 non-null  float64
 27  t_acous1      127064 non-null  float64
 28  t_acous2      122801 non-null  float64
 29  t_ins0        180957 non-null  float64
 30  t_ins1        127064 non-null  float64
 31  t_ins2        122801 non-null  float64
 32  t_live0       180957 non-null  float64
 33  t_live1       127064 non-null  float64
 34  t_live2       122801 non-null  float64
 35  t_val0        180957 non-null  float64
 36  t_val1        127064 non-null  float64
 37  t_val2        122801 non-null  float64
 38  t_tempo0      180957 non-null  float64
 39  t_tempo1      127064 non-null  float64
 40  t_tempo2      122801 non-null  float64
 41  t_sig0        180957 non-null  float64
 42  t_sig1        127064 non-null  float64
 43  t_sig2        122801 non-null  float64
 44  popularity    160000 non-null  float64
 45  is_train      181207 non-null  int64
dtypes: float64(36), int64(4), object(6)
memory usage: 63.6+ MB

In [26]:
df.head(100)

,id,name,release_date,artists,total_tracks,t_name0,t_name1,t_name2,t_dur0,t_dur1,...,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2,popularity,is_train
0,0,Ya Solo Eres Mi Ex,2021-09-09,"La Adictiva Banda San José de Mesillas,",7,Ya Solo Eres Mi Ex,La Malagueña,México Lindo y Querido,222133,189133.0,...,0.878,0.8330,74.924,126.970,197.836,4.0,3.0,3.0,51.0,1
1,1,Nibiru,2019-11-29,"Ozuna,",18,Nibiru,Hasta Que Salga el Sol,Temporal,158826,188480.0,...,0.598,0.4840,173.023,96.042,148.019,4.0,4.0,4.0,67.0,1
2,2,DAMN.,2017-04-14,"Kendrick Lamar,",14,BLOOD.,DNA.,YAH.,118066,185946.0,...,0.422,0.6480,156.907,139.913,69.986,4.0,4.0,4.0,81.0,1
3,3,Did I Shave My Legs For This?,1996-01-01,"Deana Carter,",11,I've Loved Enough To Know,We Danced Anyway,Count Me In,203693,202533.0,...,0.651,0.2630,120.285,94.054,130.011,4.0,4.0,4.0,53.0,1
4,4,glisten,2018-05-04,"Jeremy Zucker,",4,all the kids are depressed,wildfire,glisten (interlude),169973,163000.0,...,0.426,0.4660,103.861,129.170,116.349,4.0,4.0,4.0,70.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Get You The Moon (feat. Snøw),2018-10-08,"Kina,",1,Get You The Moon (feat. Snøw),NaN,NaN,179080,NaN,...,NaN,NaN,118.917,NaN,NaN,4.0,NaN,NaN,71.0,1
96,96,How To Train Your Dragon (Music From The Motio...,2010-01-01,"John Powell,",25,This Is Berk,Dragon Battle,The Downed Dragon,250266,115013.0,...,0.321,0.0602,123.267,131.409,166.306,4.0,4.0,3.0,62.0,1
97,97,Cheesin',2020-04-22,"Cautious Clay, Remi Wolf, sophie meiers,",1,"Cheesin’ (with Cautious Clay, Remi Wolf, Still...",NaN,NaN,138000,NaN,...,NaN,NaN,120.104,NaN,NaN,4.0,NaN,NaN,52.0,1
98,98,Daisies,2020-05-15,"Katy Perry,",1,Daisies,NaN,NaN,173123,NaN,...,NaN,NaN,122.179,NaN,NaN,4.0,NaN,NaN,57.0,1
99,99,Razorblade Romance (Deluxe Re-Mastered),2014-12-15,"HIM,",19,I Love You (Prelude To Tragedy),Poison Girl,Join Me In Death,189205,231103.0,...,0.520,0.5150,163.607,123.663,113.798,4.0,4.0,4.0,41.0,1

In [19]:
df.shape

(181207, 46)

In [20]:
df.describe()

,id,total_tracks,t_dur0,t_dur1,t_dur2,t_dance0,t_dance1,t_dance2,t_energy0,t_energy1,...,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2,popularity,is_train
count,181207.000000,181207.000000,1.812070e+05,1.272030e+05,1.228840e+05,180957.000000,127064.000000,122801.000000,180957.000000,127064.000000,...,127064.000000,122801.000000,180957.000000,127064.000000,122801.000000,180957.000000,127064.000000,122801.000000,160000.000000,181207.000000
mean,90603.000000,11.021175,1.990648e+05,2.134121e+05,2.142064e+05,0.606277,0.608402,0.609340,0.605146,0.628930,...,0.492792,0.484944,119.739825,121.092684,120.653097,3.896323,3.910148,3.902436,47.034306,0.882968
std,52310.099452,23.121934,1.152684e+05,1.095481e+05,9.786787e+04,0.184047,0.177483,0.179398,0.236689,0.232757,...,0.250204,0.253048,31.201646,30.476803,30.920109,0.510765,0.434635,0.464349,22.511931,0.321459
min,0.000000,1.000000,1.485000e+03,4.120000e+03,2.113000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,45301.500000,1.000000,1.507690e+05,1.688800e+05,1.693190e+05,0.490000,0.498750,0.500000,0.458000,0.489000,...,0.298000,0.289000,95.514000,96.624000,96.005000,4.000000,4.000000,4.000000,29.000000,1.000000
50%,90603.000000,10.000000,1.920620e+05,2.037300e+05,2.064130e+05,0.630000,0.631000,0.627000,0.633000,0.660000,...,0.498000,0.482000,119.987000,120.019000,119.988000,4.000000,4.000000,4.000000,50.000000,1.000000
75%,135904.500000,14.000000,2.336000e+05,2.427920e+05,2.448750e+05,0.745000,0.736000,0.742000,0.793000,0.811000,...,0.689000,0.682000,140.016000,141.138000,141.026000,4.000000,4.000000,4.000000,66.000000,1.000000
max,181206.000000,1190.000000,1.082819e+07,7.054236e+06,6.145123e+06,0.988000,0.992000,0.985000,1.000000,1.000000,...,1.000000,1.000000,239.713000,248.500000,246.322000,5.000000,5.000000,5.000000,100.000000,1.000000

In [23]:
print(df.keys())

Index(['id', 'name', 'release_date', 'artists', 'total_tracks', 't_name0',
       't_name1', 't_name2', 't_dur0', 't_dur1', 't_dur2', 't_dance0',
       't_dance1', 't_dance2', 't_energy0', 't_energy1', 't_energy2', 't_key0',
       't_key1', 't_key2', 't_mode0', 't_mode1', 't_mode2', 't_speech0',
       't_speech1', 't_speech2', 't_acous0', 't_acous1', 't_acous2', 't_ins0',
       't_ins1', 't_ins2', 't_live0', 't_live1', 't_live2', 't_val0', 't_val1',
       't_val2', 't_tempo0', 't_tempo1', 't_tempo2', 't_sig0', 't_sig1',
       't_sig2', 'popularity', 'is_train'],
      dtype='object')

In [21]:
df.isnull()

,id,name,release_date,artists,total_tracks,t_name0,t_name1,t_name2,t_dur0,t_dur1,...,t_val1,t_val2,t_tempo0,t_tempo1,t_tempo2,t_sig0,t_sig1,t_sig2,popularity,is_train
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181202,False,False,False,False,False,False,True,True,False,True,...,True,True,False,True,True,False,True,True,True,False
181203,False,False,False,False,False,False,True,True,False,True,...,True,True,False,True,True,False,True,True,True,False
181204,False,False,False,False,False,False,True,True,False,True,...,True,True,False,True,True,False,True,True,True,False
181205,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
181206,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [24]:
pd.isnull(df).sum() #count of missing values

id                  0
name                1
release_date        0
artists             0
total_tracks        0
t_name0             1
t_name1         54004
t_name2         58323
t_dur0              0
t_dur1          54004
t_dur2          58323
t_dance0          250
t_dance1        54143
t_dance2        58406
t_energy0         250
t_energy1       54143
t_energy2       58406
t_key0            250
t_key1          54143
t_key2          58406
t_mode0           250
t_mode1         54143
t_mode2         58406
t_speech0         250
t_speech1       54143
t_speech2       58406
t_acous0          250
t_acous1        54143
t_acous2        58406
t_ins0            250
t_ins1          54143
t_ins2          58406
t_live0           250
t_live1         54143
t_live2         58406
t_val0            250
t_val1          54143
t_val2          58406
t_tempo0          250
t_tempo1        54143
t_tempo2        58406
t_sig0            250
t_sig1          54143
t_sig2          58406
popularity      21207
is_train            0
dtype: int64